html {
  margin-left: 10px;
}

body {
  width: 960px;
}

.sitetitle {
  font-size: 48px;
  font-family: 'Crimson Text', serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playerCountField {
  width: 50px;
}

.selectNationsButton {
  background-color: midnightblue;
  color: white;
  width: 190px;
  height: 40px;
  margin-top: 12px;
}

.selectNationsResult {
  font-weight: bold;
  margin-top: 12px;
}

.errorMessage {
  color: darkred;
  font-weight: bold;
  margin-top: 12px;
}
